/* http://www.google.com/design/spec/components/buttons.html#buttons-usage */

.Button {
  min-width: 88px;
  height: 36px;
  background: none;
  border: none;
  padding: 0 8px;
  margin: 0 4px;
  text-transform: uppercase;
  border-radius: 2px;
  outline: none;
  color: $color-accent;
  font-weight: 500;
  will-change: background;
  transition: background 0.25s;

  &:hover,
  &:focus {
    background: rgba($color-accent, 0.12);
  }

  &:active {
    background: rgba($color-accent, 0.24);
  }

  &:disabled {
    color: rgba(#000, 0.4);
    background: none;
  }

  &--filled {
    color: text-color($color-accent-text);
    background: $color-accent;

    &:hover,
    &:focus {
      background: darken($color-accent, 12%);
    }

    &:active {
      background: darken($color-accent, 18%);
    }
  }

  /* http://www.google.com/design/spec/components/buttons.html#buttons-flat-raised-buttons */

  &--raised {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.26);
    transition: background, box-shadow 0.25s;
    will-change: background, box-shadow;

    &:active {
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
    }
  }
}
