
.Chip {
  display: inline-flex;
  align-items: center;
  background: rgb(224, 224, 224);
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 16px;
  height: 32px;
}

.Chip:focus {
  color: #fff;
}

.Chip-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.54);
  font-size: 20px;
  color: rgb(224, 224, 224);
  border: 0;
  border-radius: 50%;
  outline: none;
  height: 20px;
  width: 20px;
  margin: 0 4px;
}

.Chip-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 32px;
  height: 32px;
  background-color: #009587;
  border-radius: 50%;
  font-size: 16px;
}
