
/**
 * http://www.google.com/design/spec/layout/structure.html#structure-app-bar
 */

nav {
  border-right: 1px solid rgba(0, 0, 0, 0.14);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $navigation-width;
  background: #fff;
  font-size: 13px;
  font-weight: 500;
  visibility: hidden;
  transform: translateX(-$navigation-width);
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 104;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @include xlarge {
    visibility: visible;
    transform: translateX(0);
  }
}

nav.is-visible {
  visibility: visible;
  transform: translateX(0);

  /**
   * Show overlay first and then slide in navigation
   */
  transition-delay: 0.1s;
}

.Navigation-logo {
  height: 48px;
  padding: 12px 24px 10px 2px;
  border-bottom: 1px solid #e0e0e0;

  @include medium {
    height: 64px;
    padding-left: 11px;
  }
}

.Navigation {
  list-style: none;
  margin: 0;
  padding: 12px 0 10px;
}

.Navigation-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding-left: 22px;
  padding-right: 16px;
  color: #333;
}

.Navigation-link.active {
  color: $blue-dark;
}

.Navigation-link:focus {
  background-color: #eee;
  outline: 0;
}

.Navigation-chevron {
  // point down \/
  transform: rotate(90deg);
  transition: transform 0.15s ease-in-out;
}

.Navigation-chevron.is-open {
  // point up /\
  // transition from down, right, up. NOT down, LEFT, up
  transform: rotate(-90deg);
}

.Navigation-hamburger {
  fill: #fff;
  position: fixed;
  z-index: 102;
  top: 0;
  left: 4px;

  @include medium {
    top: 8px;
  }

  @include xlarge {
    display: none;
  }
}

.Navigation-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 103;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.Navigation-overlay.is-visible {
  opacity: 1;
  visibility: visible;
}

// make children in submenu grey
.Navigation-item .Navigation-item > .Navigation-link {
  color: rgba(0, 0, 0, 0.54);
}

// add frame (border-top and border-bottom) to those navigation items that have sub menus
.Navigation-item.has-children {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

// revert grey color for those children that have children themselves
.Navigation-item.has-children > .Navigation-link {
  color: #333;
}

/**
 * Nested navigation
 */
.Navigation .Navigation {
  padding: 0;
}
