
@import "../../css/hbm";
@import "../../components/button/Button";
@import "../../components/card/Card";
@import "../../components/checkbox/Checkbox";
@import "../../components/chip/Chip";
@import "../../components/header/Header";
@import "../../components/icon/Icon";
@import "../../components/menu/Menu";
@import "../../components/modal/Modal";
@import "../../components/navigation/Navigation";
@import "../../components/progress/Progress";
@import "../../components/radiobutton/Radiobutton";
@import "../../components/select/Select";
@import "../../components/slider/Slider";
@import "../../components/snackbar/Snackbar";
@import "../../components/switch/Switch";
@import "../../components/tabs/Tabs";
@import "../../components/textfield/Textfield";
@import "../../components/tooltip/Tooltip";

section {
  margin-bottom: 50px;
}

.Chip-example1 {
  border-bottom: 2px solid #ddd;
}

.Chip-example1.is-focused {
  border-color: #1b325f;
}
