
@import "../../css/hbm";
@import "../../components/button/Button";
@import "../../components/card/Card";
@import "../../components/checkbox/Checkbox";
@import "../../components/chip/Chip";
@import "../../components/header/Header";
@import "../../components/icon/Icon";
@import "../../components/list/List";
@import "../../components/menu/Menu";
@import "../../components/modal/Modal";
@import "../../components/navigation/Navigation";
@import "../../components/progress/Progress";
@import "../../components/radiobutton/Radiobutton";
@import "../../components/select/Select";
@import "../../components/slider/Slider";
@import "../../components/snackbar/Snackbar";
@import "../../components/switch/Switch";
@import "../../components/tabs/Tabs";
@import "../../components/textfield/Textfield";
@import "../../components/tooltip/Tooltip";

section {
  margin-bottom: 50px;
}

main h2 {
  font-size: 3rem;
  line-height: 110%;
  margin: 1.5rem 0 1.2rem 0;
  color: #1b325f;
}

.Chip-example1 {
  border-bottom: 2px solid #ddd;
}

.Chip-example1.is-focused {
  border-color: #1b325f;
}

// fix codemirror styles for demo pages
.CodeMirror {
  height: auto;
  padding: 10px;
}

// demo pages
.playgroundCode {
  margin-bottom: 10px;
}

.playground>div>ul {
  list-style: none;
  padding: 0;
}

.playground>div>ul>li {
  padding-top: 15px;
  padding-left: 10px;
}

.playground>div>ul>li>b:first-child {
  font-weight: normal;
  font-family: source-code-pro, Menlo, Consolas, Monaco, monospace;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 0.3rem 0.2rem 0.3rem 0.5rem;
  margin-right: 0.2rem;
}

.playground>div>ul>li>i {
  font-style: normal;
}

.playground {
  margin: 10px auto;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}

.playgroundToggleCodeBar {
  padding: 0 10px 0 10px;
  background-color: #1b325f;
  color: #fff
}

.playgroundCode {
  margin-bottom: 0px;
}

.playground.collapsableCode .playgroundCode {
  height: 0;
  overflow: hidden;
}

.playground.collapsableCode .playgroundCode.expandedCode {
  height: auto;
}

.playgroundToggleCodeLink, .playgroundToggleCodeLink::before {
  cursor: pointer;
  font-family: monospace;
  position: relative;
  right: 0;
  display: inline-block;
}
.playgroundToggleCodeLink::before {
  padding: 5px 5px 5px 0px;
}
.playgroundToggleCodeLink {
  padding: 5px 10px 5px 5px;
}
.playgroundToggleCodeLink::before {
  content: '<live edit>';
}

.playgroundPreview {
  background: white;
  padding: 10px;
}

.playgroundError {
  padding: 10px;
  font-size: 12px;
  color: white;
  background: #F2777A;
}
