
@import "../../../../css/hbm";
@import "../../Textfield";

#react {
  margin: 10px;
  background: #fff;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

.hori {
  display: flex;
  flex-direction: row;
  width: 400px;
}

.Textfield--orange {
  color: orange;
}
