
@import "../../../../css/hbm";
@import "../../Icon";


#react {
  background: #fff;
  padding: 20px;
}

.icon {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon-name {
  margin-left: 10px;
}
