
@import "../../../../css/hbm";
@import "../../Button";

span {
  margin-left: 10px;
}

div {
  margin: 10px;
}

#react {
  background: #fff;
  padding: 20px;
}

.btn {
  font-weight: normal;
  color: inherit;
}

.btn:hover {
  font-weight: bold;
}

.btn:focus {
  color: red;
}

.btn:active {
  color: blue;
}
