
@import "../../../../css/hbm";
@import "../../Select";

#react {
  margin: 100px 20px;
  background: #fff;
  padding: 20px;
}

section {
  margin: 100px;
}

.select-container {
  width: 200px;
}

.Select--blue {
  color: steelblue;
}

.Select--blue .Select-placeholder {
  color: darkgoldenrod;
}
