
.mdc-Chip-wrapper {
  cursor: text;
  display: flex;
  flex-wrap: wrap;
}

.mdc-Chip-input {
  outline: none;
  background: none;
  border: none;
  margin-bottom: 5px;
}

.mdc-Chip {
  display: inline-flex;
  align-items: center;
  background: rgb(224, 224, 224);
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 16px;
  height: 32px;
  margin-right: 5px;
  // this might affect parent component but is required for multi row chips
  margin-bottom: 5px;
  cursor: default;
}

.mdc-Chip:focus,
.mdc-Chip:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.54);
  outline: none;
}

.mdc-Chip-delete {
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  margin: 0 4px;
}

.mdc-Chip-delete-icon {
  width: 22px;
  height: 22px;
  display: block;
  fill: rgba(0, 0, 0, 0.26);
}

.mdc-Chip:focus .mdc-Chip-delete-icon,
.mdc-Chip:hover .mdc-Chip-delete-icon {
  fill: #fff;
}

.mdc-Chip-icon {
  width: 32px;
  height: 32px;
}
