
.mdc-SelectNative {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mdc-SelectNative--error {
  border-bottom: 1px solid #f44336;
}

.mdc-SelectNative.is-focused {
  border-bottom-color: #1b325f;
  box-shadow: 0 1px 0 0 #1b325f;
}

.mdc-SelectNative--error.is-focused {
  border-bottom: 1px solid #f44336;
  box-shadow: 0 1px 0 0 #f44336;
}

.mdc-SelectNative-label {
  color: rgba(27, 50, 95, 0.6);
  font-size: 12px;
  padding-top: 14px;
  margin-bottom: 6px;
}

.mdc-SelectNative-label--dense {
  padding-top: 8px;
  margin-bottom: 4px;
}

.mdc-SelectNative-label.is-focused {
  color: #1b325f;
}

.mdc-SelectNative-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-bottom: 8px;
}

.mdc-SelectNative-wrapper--dense {
  margin-bottom: 4px;
}

.mdc-SelectNative-select {
  color: #333;
  line-height: 1.5;
  border: none;
  outline: none;
  font-size: 16px;
  appearance: none;
  background: none;
  padding: 0;
  padding-right: 22px;
}

.mdc-SelectNative-select--dense {
  font-size: 13px;
}

.mdc-SelectNative-select::-ms-expand {
  display: none;
}

.mdc-SelectNative-icon {
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
}

.mdc-SelectNative-helper {
  min-height: 18px;
  margin-top: 8px;
  font-size: 12px;
}

.mdc-SelectNative-helper--dense {
  margin-top: 4px;
}

.mdc-SelectNative-helper--error {
  color: #f44336;
}
