.mdc-Select {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  /**
   * align text horizontally with textfields / text inputs
   */
  padding-top: 12px;
  padding-bottom: 8px;
}

.mdc-Select-label {
  font-size: 12px;
  padding: 0 0 8px;
  color: rgba($blue-dark, 0.6);
}

/**
 * Select-body is of type <button />
 */
button.mdc-Select-body {
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid $black-012;
  padding-bottom: 7px;
  text-align: left;
  outline: 0;
  font-size: 16px;
}

// https://material.google.com/style/color.html#color-text-background-colors
.mdc-Select-body:disabled {
  color: rgba(0, 0, 0, 0.38);
}

.mdc-Select-placeholder {
  color: rgba(0, 0, 0, 0.54);
}

.mdc-Select-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top-color: rgba(0, 0, 0, 0.24);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/**
 * Select-list is of type <ul />
 */
.mdc-Select-list {
  margin: 0;
  z-index: 1;
  position: absolute;
  background: #fff;
  padding: 8px 0;
  border-radius: 2px;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  font-size: 16px;

  /**
   * max-height is equal to 5 elements + margin top and margin bottom
   */
  max-height: 256px;
}

.mdc-Table .mdc-Select-list {
  font-size: 13px;
  padding: 0;
  border: 1px solid lightgray;
  box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.3);
  background: #f9f9f9;
}

.mdc-Table button.mdc-Select-body {
  font-size: 13px;
}

/**
 * Select-listItem is of type <li />
 */
.mdc-Select-listItem {
  list-style: none;
  margin: 0;
  padding: 0;
  color: initial;
  text-decoration: none;
  min-height: 48px;
  display: flex;
  align-items: center;
}

.mdc-Select-listItem:hover {
  background: #eee;
}
