
.Table-edit {
  position: relative;
}

.Table-edit-container {
  background-color: #fafafa;
  position: absolute;
  left: 0;
  right: 0;
  top: -14px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 0 24px;
}

.Table-body-row-cell-edit-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Table-edit-icon {
  margin-left: auto;
}

// override textfield font size
.Table-edit-container .Textfield-input {
  font-size: 13px;
}

.Table {
  width: 100%;
  border-collapse: collapse;

  &-head {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;

    &-row {
      height: 56px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      &-cell {
        padding: 0 28px;

        &:first-child {
          padding-left: 24px;
        }

        &:last-child {
          padding-right: 24px;
        }

        &-button {
          // remove button styles
          background: none;
          border: none;
          outline: none;

          // align arrow icon and cell content
          display: flex;
          align-items: center;
          cursor: pointer;
          justify-content: flex-end;
          color: rgba(0, 0, 0, 0.87);

          &-arrow {
            fill: rgba(0, 0, 0, 0.87);
            transition: transform 0.15s ease-in-out;
            margin-right: 5px;

            &--ascending {
              transform: rotate3d(0, 0, 1, 0deg);
            }

            &--descending {
              transform: rotate3d(0, 0, 1, 180deg);
            }
          }
        }
      }
    }
  }

  &-body {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);

    &-row {
      height: 48px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      &:hover {
        background-color: #eee;
      }

      &-cell {
        padding: 0 28px;

        &:first-child {
          padding-left: 24px;
        }

        &:last-child {
          padding-right: 24px;
        }
      }
    }
  }

  &-footer {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // set font-size and color for whole footer
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);

    // override Select component styles explicitly
    .Select {
      font-size: 12px;
      flex: none;
      color: rgba(0, 0, 0, 0.54);
      margin-right: 32px;

      &-body {
        border-bottom: none;
        padding-bottom: 5px;
      }
    }

    &-xOfY {
      margin-right: 32px;
    }

    &-rowsPerPage {
      margin-right: 40px;
    }
  }
}

// Select / dropdown inside table cell
.Table .Select {
  font-size: inherit;
  padding-top: 0;
  padding-bottom: 0;
}

.Table .Select-body {
  border-bottom: none;
  padding-bottom: 0;
}
